.button {
   -webkit-appearance: none;
   padding: 10px 20px;
   border: solid 1px #fafafa;
   background-color: transparent;
   color: #eee;
   border-radius: 1000px;
   cursor: pointer;
   transition: background-color 300ms, color 300ms, border-color 300ms;
   font-family: inherit;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.85rem;
   &:hover {
      background-color: #fafafa;
      color: #151122;
   }
   &:active {
      background-color: #bdbdbd;
      border-color: #bdbdbd;
      color: #151122;
   }
}
